<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424543315235-620m481cv8tknvfe1704te6t7rhm4jht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424543315235-620m481cv8tknvfe1704te6t7rhm4jht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>424543315235-8jcjr8v2la06i9ebi61lvdr8jbpvjsd0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw9keYSXeojFpuzDsbydiqcOkXzNxwN7g</string>
	<key>GCM_SENDER_ID</key>
	<string>424543315235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alkhatouna</string>
	<key>PROJECT_ID</key>
	<string>alkhatouna-boutique-8d85a</string>
	<key>STORAGE_BUCKET</key>
	<string>alkhatouna-boutique-8d85a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424543315235:ios:2973da723217be66895896</string>
</dict>
</plist>